<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="navbar-container">
          <!-- Navbar Barnd -->
          <div class="navbar-header pull-left">
              <a href="#" class="navbar-brand">
                  Common Consumption Demo
              </a>
          </div>
          <!-- /Navbar Barnd -->
          <!-- Sidebar Collapse -->
          <div class="sidebar-collapse" id="sidebar-collapse" (click)="sideBarToggle()">
              <i class="collapse-icon fa fa-bars"></i>
          </div>
          <!-- /Sidebar Collapse -->
          <!-- Account Area and Settings --->
          <div class="navbar-header pull-right">
              <div class="navbar-account">
                  <ul class="account-area">
                      <li>
                          <a class="wave in" title="View on github" target="_blank" href="https://github.com/christyfernandes/common-consumption-demo.git">
                              <i class="icon fa fa-github custom"></i>
                          </a>
                      </li>
                      <li>
                        <a class="text-link" title="View on github" href="https://github.com/christyfernandes/common-consumption-demo.git" target="_blank">
                            Github
                        </a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /Navbar -->